[TAGS]
# Tag Describer and Transcriber must be a string only tag
TAG_DESCRIBER = XMP-dc:Description
TAG_TRANSCRIBER = XMP-dc:Title
CONTRIBUTOR_TAG = XMP-iptcExt:Contributor

[POLYGON]
REGION_NAME_PREFIX = graffito
# Region Role Name Must be present in the iptc region news code
REGION_ROLE_NAME= main subject area
RCTYPE_IDENTIFIER = link to indigo graffito definition
RCTYPE_NAME = graffito
REGION_CREATOR_ROLE = https://indigo.openatlas.eu/regioncreator
DESCRIBER_ROLE = https://indigo.openatlas.eu/describer
TRANSCRIBER_ROLE = https://indigo.openatlas.eu/transcriber
COLOUR_START = #2c7bb6

[RECTANGLE]
REGION_NAME_PREFIX = graffito text
# Region Role Name Must be present in the iptc region news code
REGION_ROLE_NAME= area of interest
RCTYPE_IDENTIFIER = link to indigo graffito text area definition
RCTYPE_NAME = graffito text
REGION_CREATOR_ROLE = https://indigo.openatlas.eu/regioncreator
DESCRIBER_ROLE = https://indigo.openatlas.eu/describer
TRANSCRIBER_ROLE = https://indigo.openatlas.eu/transcriber
COLOUR_START = #4dac26

[CIRCLE]
REGION_NAME_PREFIX = graffito poi
# Region Role Name Must be present in the iptc region news code
REGION_ROLE_NAME = area of interest
RCTYPE_IDENTIFIER = link to indigo greffito circle area definition
RCTYPE_NAME = graffito spot
REGION_CREATOR_ROLE = https://indigo.openatlas.eu/regioncreator
DESCRIBER_ROLE = https://indigo.openatlas.eu/describer
TRANSCRIBER_ROLE = https://indigo.openatlas.eu/transcriber
COLOUR_START = #fdae61
