[TAGS]
EXTRA_STRING_TAG = XMP-dc:Description
CONTRIBUTOR_TAG = XMP-iptcExt:Contributor

[POLYGON]
REGION_NAME_PREFIX = graffito
# Region Role Name Must be present in the iptc region news code
REGION_ROLE_NAME= main subject area
RCTYPE_IDENTIFIER = link to indigo graffito definition
RCTYPE_NAME = graffito
REGION_CREATOR_ROLE = https://blblabla/regioncreator
REGION_MODIFIER_ROLE = https://blblabla/regionfinetuner
DESCRIBER_CREATOR_ROLE = https://blblabla/describer_creator
DESCRIBER_MODIFIER_ROLE = https://blblabla/describer_modifer
COLOUR_START = #2c7bb6

[RECTANGLE]
REGION_NAME_PREFIX = graffito text
# Region Role Name Must be present in the iptc region news code
REGION_ROLE_NAME= area of interest
RCTYPE_IDENTIFIER = link to indigo graffito text area definition
RCTYPE_NAME = graffito text
REGION_CREATOR_ROLE = https://blblabla/regioncreator
REGION_MODIFIER_ROLE = https://blblabla/regionfinetuner
DESCRIBER_CREATOR_ROLE = https://blblabla/transcriber
DESCRIBER_MODIFIER_ROLE = https://blblabla/transcriber_modifer
COLOUR_START = #4dac26

[CIRCLE]
REGION_NAME_PREFIX = graffito poi
# Region Role Name Must be present in the iptc region news code
REGION_ROLE_NAME = area of interest
RCTYPE_IDENTIFIER = link to indigo greffito circle area definition
RCTYPE_NAME = graffito spot
REGION_CREATOR_ROLE = https://blblabla/regioncreator
REGION_MODIFIER_ROLE = https://blblabla/regionfinetuner
DESCRIBER_CREATOR_ROLE = https://blblabla/describer_creator
DESCRIBER_MODIFIER_ROLE = https://blblabla/describer_modifer
COLOUR_START = #fdae61




