[DEFAULT]


EXTRA_STRING_TAG = XMP-dc:Description


[CONTRIBUTOR]
CONTRIBUTOR_TAG = XMP-iptcExt:Contributor
FINE_TUNER_ROLE = https://blblabla/regionfinetuner
DESCRIBER_ROLE = https://blblabla/transcriber
REGION_CREATOR_ROLE = https://blblabla/regioncreator

[GEOMETRIE-RCTYPES]
RCTYPE_POLYGON_IDENTIFIER = link to indigo graffito definition
RCTYPE_POLYGON_NAME = graffito
RCTYPE_RECTANGLE_IDENTIFIER = link to indigo greffito text area definition
RCTYPE_RECTANGLE_NAME = graffito text
RCTYPE_CIRCLE_IDENTIFIER = link to indigo greffito circle area definition
RCTYPE_CIRCLE_NAME = graffito spot

[GEOMETRIE-COLOURS]
COLOR_CIRCLE_START = #f58442
COLOR_RECTANGLE_START = #42f5d1
COLOR_POLYGON_START = #f5429c
